body {
        color: white;
}

.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.container > * {
    background-color: darkblue;
    padding: 1rem;
    border-radius: 15px;
}